VUE_APP_BRAND_NAME=Stellarbeat.io
VUE_APP_BRAND_TAGLINE="Stellar Network visibility"
VUE_APP_PUBLIC_API_URL=https://api.stellarbeat.io#required
VUE_APP_PUBLIC_ENABLE_NOTIFY=0
VUE_APP_PUBLIC_ENABLE_HISTORY=1
VUE_APP_PUBLIC_ENABLE_HORIZON=1
VUE_APP_PUBLIC_ENABLE_CONFIG_EXPORT=1
VUE_APP_ENABLE_DEMO_NETWORKS=1
VUE_APP_TEST_API_URL=https://api.stellarbeat.io#optional
VUE_APP_TEST_ENABLE_NOTIFY=0#optional
VUE_APP_TEST_ENABLE_HISTORY=0#optional
VUE_APP_SENTRY_DSN=
VUE_APP_E2E_TEST_URL=http://localhost:8080/
VUE_APP_ENABLE_NOTIFY=0
PRERENDER_TOKEN=


#44bbe7