VUE_APP_BRAND_NAME=Stellarbeat
VUE_APP_BRAND_TAGLINE="Stellar Network Explorer"
VUE_APP_BRAND_DESCRIPTION="Stellarbeat is a network explorer for the Stellar network. It provides a list of all nodes and organizations. It tracks various metrics and provides a history of changes. It also allows you to simulate different network conditions and topologies"
VUE_APP_BRAND_LOGO_SRC=logo.png
VUE_APP_BRAND_LOGO_ALT=Stellarbeat
VUE_APP_BRAND_EMAIL=info@stellarbeat.io
VUE_APP_PUBLIC_API_URL=https://api.stellarbeat.io#required
VUE_APP_PUBLIC_ENABLE_NOTIFY=0
VUE_APP_PUBLIC_ENABLE_HISTORY=1
VUE_APP_PUBLIC_ENABLE_HORIZON=1
VUE_APP_PUBLIC_ENABLE_CONFIG_EXPORT=1
VUE_APP_ENABLE_DEMO_NETWORKS=1
VUE_APP_TEST_API_URL=https://api.stellarbeat.io#optional
VUE_APP_TEST_ENABLE_NOTIFY=0#optional
VUE_APP_TEST_ENABLE_HISTORY=0#optional
VUE_APP_SENTRY_DSN=
VUE_APP_ENABLE_NOTIFY=0
PRERENDER_TOKEN=
VUE_APP_OWNER=OWNER_OR_COMPANY