.btn-primary {
    background: #1997c6;
    border-color: #1997c6;
}
.btn-outline-primary {
    border-color: #1997c6;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #1a85ad;
    border-color: #1997c6;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #166e8f;
    border-color: #166e8f;
}
.btn-primary:hover {
    color: #fff;
    background-color: #1a85ad;
    border-color: #1a85ad;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #166e8f;
    border-color: #166e8f;
}

.badge-primary {
    background: #1997c6
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #1a85ad;
}

.vue__time-picker input.display-time{
    background: white;
    border: 1px solid #d7dee9;
    padding: 0.4rem 1.3rem;
    padding-top: 9px;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    height: 38px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.animated .vue__time-picker input.display-time {
    animation: highlight 1s;
}

@keyframes highlight {
    0% {
        background: #cacacd;
        border: 1px solid #cacacd;
    }
    100% {
        background: white;
    }
}

.date-picker-wrapper {
    width: 135px;
    z-index: 2000;
}
.date-picker-input-white {
    background-color: white!important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    border-color: #d7dee9;
    text-align: center;
}
.date-picker-input-white-no-border {
    border-radius: 0;
    border-left: none;
}
.timepicker-no-border-right {
    border-radius: 0;
    border-right: none!important;
    text-align: center;
}
.page-title {
    margin-right: 10px;
}

.table.b-table > thead > tr > [aria-sort]:not(.b-table-sort-icon-left), .table.b-table > tfoot > tr > [aria-sort]:not(.b-table-sort-icon-left) {
    background-position: right calc(0.75rem / 2) bottom;
    /* padding-right: calc(0.75rem + 0.65em); */
    /* padding-bottom: 0px; */
    /* margin-bottom: 6px; */
    background-position-y: bottom 12px;
}

.sb-nav-pagination .page-link {
    border: none!important;
}
.sb-nav-pagination .page-item.active .page-link {
    font-weight: bolder;
    background-color: transparent!important;
    color: inherit;
    opacity: 1;
}

.page-item.active .page-link {
    background-color: #1997c6!important;
    border-color: #1997c6!important;
}

.btn-thin {
    padding: 0.2rem 0.2rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
    min-width: 0px!important;
}


.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.1s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}