.btn-primary {
    background: #1997c6;
    border-color: #1997c6;
}
.btn-outline-primary {
    border-color: #1997c6;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #1a85ad;
    border-color: #1997c6;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #166e8f;
    border-color: #166e8f;
}
.btn-primary:hover {
    color: #fff;
    background-color: #1a85ad;
    border-color: #1a85ad;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #166e8f;
    border-color: #166e8f;
}

.badge-primary {
    background: #1997c6
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #1a85ad;
}

.vue__time-picker input.display-time{
    background: white;
    border: 1px solid #d7dee9;
    padding: 0.375rem 0.76rem;
    padding-top: 10px;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    height: 2.37rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.animated .vue__time-picker input.display-time {
    animation: highlight 1s;
}

@keyframes highlight {
    0% {
        background: #cacacd;
        border: 1px solid #cacacd;
    }
    100% {
        background: white;
    }
}

.date-picker-wrapper {
    width: 115px;
    z-index: 500;
}
.date-picker-input-white {
    background-color: white!important;
}
.date-picker-input-white-no-border {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
timepicker-no-border-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.page-title {
    margin-right: 10px;
}